## Compiled JavaScript files
# **/*.js
# **/*.js.map

# Typescript v1 declaration files
typings/

# # include JEST Config file
# !./jest.config.js

# Ignore built artefacts
lib/

# Ignore coverage folder
coverage/

# Ignore Jest's snapshot(s)
*.snap
