<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
        <h3>Sign In Demo</h3>
      </div>
    </div>
  </header>

  <!-- main -->
  <mdl-layout-content mdl-color="grey-100">
    <div class="mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-cell mdl-cell--4-col"></div>
      
      <app-sign-in-card></app-sign-in-card>      
      <app-sign-out-card></app-sign-out-card>

      <div class="mdl-cell mdl-cell--4-col"></div>

      <!-- <router-outlet></router-outlet> -->
    </div>
  </mdl-layout-content>
</div>
