<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
        <h3>Sign In Demo</h3>
      </div>
    </div>
  </header>

  <!-- main -->
  <mdl-layout-content mdl-color="grey-100">
    <div class="mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-cell mdl-cell--4-col"></div>
      
      <!-- child component #1 -->
      <mdl-card id="demo-signed-out-card" mdl-shadow="2" mdl-cell="4-col" mdl-min-height="0" style="min-height:0;">
        <mdl-card-supporting-text mdl-color-text="grey-600">
          <p>
            This web application demonstrates how you can send an authorized XHR Request to an HTTPS Function.
            <strong>Now sign in!</strong>
          </p>
          <button id="demo-sign-in-button" 
                  class="mdl-color-text--grey-700 mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">account_circle</i> 
            Sign in with Google
          </button>          
        </mdl-card-supporting-text>
      </mdl-card>

      <!-- <router-outlet></router-outlet> -->
    </div>
  </mdl-layout-content>
</div>
